.title{
    height: 45px;
    font-size: 18px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
.content{
    font-size: 16px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
.blogList{
    margin:30px 40px;
}
.blogList h3{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.blogList h3 a{
    color: #0f0f0f;
}
.blogList h3 a:hover{
    color: rgba(204,24,18,0.82);
    text-decoration: none;
}
.blogContent{
    width: 500px;
    overflow: hidden;
    font-size: 15px;
    height: 100px;
    word-break:normal;
    white-space: normal;
}
.blogInfo{
    float: right;
}
.blogRef{
    color: rgba(93,113,204,0.82);
    text-decoration: none;
    float: left;
}
.hr{
    height:3px;border:none;border-top:1px groove skyblue;width: 620px;top: 20px;position: relative;margin: 0 auto;
}
.form-group{
    width: 85%;
    margin: 10px auto;
}


