article{
    padding-top: 20px;
}
.blogList {
    margin:20px 40px;
}
.blogList h3{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.blogList h3 a{
    color: #0f0f0f;
}
.blogList h3 a:hover{
    color: rgba(204,24,18,0.82);
    text-decoration: none;
}
.blogInfo{
    float: right;
}
.blogRef{
    color: rgba(93,113,204,0.82);
    text-decoration: none;
    float: left;
}
.hr{
    height:3px;border:none;border-top:1px groove skyblue;width: 620px;top: 20px;position: relative;margin: 0 auto;
}
.form-group{
    width: 85%;
    margin: 10px auto;
}
.history{margin-left: 40px;margin-top: 40px;padding-bottom: 5px;width: 90%;border-bottom: 1px solid;}
.hisblog{height: 25px;width: 100%}
.noblog{margin: 20px 0 10px 50px;font-size: 20px;text-align: center;}



